In [ ]:
# +
# Задание: 1 
# Найдите номер модели, скорость и размер жесткого диска для всех ПК стоимостью менее 500 дол. 
# Вывести: model, speed и hd 

SELECT model, speed, hd 
FROM PC
WHERE price<500

In [ ]:
# +
# Задание: 2 
# Найдите производителей принтеров. Вывести: maker 

SELECT DISTINCT maker 
FROM Product
WHERE type='Printer'

In [ ]:
# +
# Задание: 3 
# Найдите номер модели, объем памяти и размеры экранов ПК-блокнотов, цена которых превышает 1000 дол.

SELECT model, ram, screen
FROM Laptop
WHERE price > 1000

In [ ]:
# +
# Задание: 4 
# Найдите все записи таблицы Printer для цветных принтеров. 

SELECT * FROM Printer
WHERE color='y'

In [ ]:
# +
# Задание: 5 
# Найдите номер модели, скорость и размер жесткого диска ПК, 
# имеющих 12x или 24x CD и цену менее 600 дол. 

SELECT model, speed, hd
FROM PC
WHERE (cd='12x' OR cd='24x') AND price < 600

In [ ]:
# +
# Задание: 6 
# Для каждого производителя, выпускающего ПК-блокноты c объёмом жесткого диска не менее 10 Гбайт, 
# найти скорости таких ПК-блокнотов. 
# Вывод: производитель, скорость. 

SELECT DISTINCT Product.maker, Laptop.speed
FROM Product
INNER JOIN Laptop ON Product.model=Laptop.model
WHERE Laptop.hd>=10

In [ ]:
# +
# Задание: 7 
# Найдите номера моделей и цены всех имеющихся в продаже продуктов 
# (любого типа) производителя B (латинская буква). 

SELECT A.model, A.price 
FROM 
    (SELECT model, price 
     FROM PC
        UNION
    SELECT model, price
    FROM Laptop
        UNION
    SELECT model, price
    FROM Printer) AS A 
INNER JOIN Product 
ON Product.model = A.model
WHERE maker = 'B'

In [ ]:
# +
# Задание: 8 
# Найдите производителя, выпускающего ПК, но не ПК-блокноты. 

SELECT DISTINCT maker
FROM Product 
WHERE type = 'PC' AND
maker NOT IN 
    (SELECT DISTINCT maker
    FROM Product 
    WHERE type = 'Laptop')

In [ ]:
# +
# Задание: 9 
# Найдите производителей ПК с процессором не менее 450 Мгц. Вывести: Maker

SELECT DISTINCT maker AS Maker
FROM Product
INNER JOIN PC 
ON Product.model = PC.model
WHERE PC.speed >= 450

In [ ]:
# +
# Задание: 10 
# Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price

SELECT model, price  
FROM Printer  
WHERE 
price = (SELECT MAX(price) FROM Printer)

In [ ]:
# +
# Задание: 11 
# Найдите среднюю скорость ПК. 

SELECT AVG(speed)
FROM PC

In [ ]:
# +
# Задание: 12 
# Найдите среднюю скорость ПК-блокнотов, цена которых превышает 1000 дол.

SELECT AVG(speed)
FROM Laptop
WHERE price > 1000

In [ ]:
# +
# Задание: 13 
# Найдите среднюю скорость ПК, выпущенных производителем A.

#1+
SELECT AVG(speed)
FROM PC
INNER JOIN Product
ON PC.model = Product.model
WHERE Product.maker = 'A'

#2+
SELECT AVG(speed) AS AVG_speed
FROM PC
     WHERE model IN(SELECT model
     FROM Product
     WHERE maker = 'A')

In [ ]:
# +
# Задание: 14 
# Найдите класс, имя и страну для кораблей из таблицы Ships, имеющих не менее 10 орудий. 

SELECT Ships.class, Ships.name, Classes.country
FROM Ships
INNER JOIN Classes 
ON Ships.class = Classes.class
WHERE Classes.numGuns >= 10

In [ ]:
# +
# Задание: 15 
# Найдите размеры жестких дисков, совпадающих у двух и более PC. Вывести: HD

SELECT hd AS HD
FROM PC
GROUP BY hd
HAVING COUNT(hd) >= 2

In [ ]:
# +
# Задание: 16 
# Найдите пары моделей PC, имеющих одинаковые скорость и RAM. 
# В результате каждая пара указывается только один раз, т.е. (i,j), но не (j,i), 
# Порядок вывода: модель с большим номером, модель с меньшим номером, скорость и RAM. 

SELECT DISTINCT A.model AS model, B.model AS model, A.speed, A.ram
FROM PC AS A, PC B
WHERE A.speed = B.speed
AND A.ram = B.ram
AND A.model > B.model

In [ ]:
# +
# SЗадание: 17 
# Найдите модели ПК-блокнотов, скорость которых меньше скорости каждого из ПК.
# Вывести: type, model, speed 

SELECT DISTINCT Product.type, Laptop.model, Laptop.speed
FROM Product, Laptop
WHERE Product.type = 'Laptop' 
AND
Laptop.speed < ALL (SELECT speed FROM PC)

In [ ]:
# +
# Задание: 18 
# Найдите производителей самых дешевых цветных принтеров. Вывести: maker, price

SELECT DISTINCT Product.maker AS Maker, Printer.price
FROM Product
INNER JOIN Printer ON Product.model = Printer.model
WHERE Printer.color = 'y' AND
Printer.price = (SELECT MIN(price) FROM Printer WHERE Printer.color = 'y')

In [ ]:
# +
# Задание: 19 
# Для каждого производителя, имеющего модели в таблице Laptop, 
# найдите средний размер экрана выпускаемых им ПК-блокнотов.
# Вывести: maker, средний размер экрана. 

SELECT Product.maker AS Maker, AVG(Laptop.screen) AS AVGscreen
FROM Product
INNER JOIN Laptop 
ON Product.model=Laptop.model
GROUP BY Product.maker

In [ ]:
# + 
# Задание: 20 
# Найдите производителей, выпускающих по меньшей мере три различных модели ПК. 
# Вывести: Maker, число моделей ПК. 

SELECT maker, COUNT(model) AS COUNT_model
FROM Product
WHERE type = 'PC' 
GROUP BY maker
HAVING COUNT(model) > 2

In [ ]:
# +
# Задание: 21 
# Найдите максимальную цену ПК, выпускаемых каждым производителем, у которого есть модели в таблице PC.
# Вывести: maker, максимальная цена. 

SELECT DISTINCT Product.maker, MAX(PC.price)
FROM Product
INNER JOIN PC 
ON Product.model=PC.model
GROUP BY Product.maker

In [ ]:
# +
# Задание: 22
# Для каждого значения скорости ПК, превышающего 600 МГц, определите среднюю цену ПК с такой же скоростью. 
# Вывести: speed, средняя цена.

SELECT speed, AVG(price)
FROM PC
WHERE speed > 600
GROUP BY speed

In [ ]:
# +
# Задание: 23 
# Найдите производителей, которые производили бы как ПК
# со скоростью не менее 750 МГц, так и ПК-блокноты со скоростью не менее 750 МГц.
# Вывести: Maker

SELECT DISTINCT maker 
FROM Product
INNER JOIN PC 
ON Product.model = PC.model
WHERE PC.speed >= 750
    INTERSECT
SELECT DISTINCT maker 
FROM Product
INNER JOIN Laptop 
ON Product.model = Laptop.model
WHERE Laptop.speed >= 750

In [ ]:
# +
# Задание: 24 
# Перечислите номера моделей любых типов, 
# имеющих самую высокую цену по всей имеющейся в базе данных продукции. 

SELECT A.model 
FROM (
    SELECT model, price
    FROM PC 
        UNION
    SELECT model, price
    FROM Laptop 
        UNION
    SELECT model, price
    FROM Printer) 
AS A

WHERE price = (SELECT MAX(A.price)
    FROM (
        SELECT model, price
        FROM PC 
            UNION
        SELECT model, price
        FROM Laptop 
            UNION
        SELECT model, price
        FROM Printer) 
    AS A)

In [ ]:
#
# Задание: 25 
# Найдите производителей принтеров, которые производят ПК с наименьшим объемом RAM 
# и с самым быстрым процессором среди всех ПК, имеющих наименьший объем RAM. 
# Вывести: Maker

## Ваш запрос вернул правильные данные на основной базе, но не прошел тест на проверочной базе

SELECT DISTINCT maker
FROM Product
INNER JOIN Printer
ON Product.model=Printer.model

    INTERSECT 
    
SELECT DISTINCT maker
FROM Product
INNER JOIN PC        
ON Product.model = PC.model
WHERE speed = (SELECT MAX(speed) FROM PC 
                WHERE ram = (SELECT MIN(ram) FROM PC))

In [ ]:
# 
# Задание: 26 
# Найдите среднюю цену ПК и ПК-блокнотов, выпущенных производителем A (латинская буква). 
# Вывести: одна общая средняя цена. 

# 790,9090 -->(754,1666)
SELECT AVG(A.price) AS AVG_price
FROM 
    (SELECT model, price
     FROM PC
            UNION
    SELECT model, price
    FROM Laptop
    ) AS A 
INNER JOIN Product 
ON A.model = Product.model
WHERE Product.maker = 'A'

In [ ]:
# +
# Задание: 27 
# Найдите средний размер диска ПК каждого из тех производителей, которые выпускают и принтеры. 
# Вывести: maker, средний размер HD. 

SELECT maker, AVG(PC.hd) AS AVG_hd
FROM Product

INNER JOIN PC
ON Product.model = PC.model

WHERE maker IN 
    (SELECT DISTINCT maker 
    FROM Product
    WHERE type = 'PC'
        INTERSECT
    SELECT DISTINCT maker 
    FROM Product
    WHERE type = 'Printer')
GROUP BY maker

In [ ]:
# +
# Задание: 28 
# Используя таблицу Product, определить количество производителей, выпускающих по одной модели.

# +
SELECT COUNT(A.maker) AS qty
FROM (
    SELECT DISTINCT maker, COUNT(model) AS COUNT_model
    From Product
    GROUP BY maker
    HAVING COUNT(model) = 1) AS A